

.spotImg1 {
  display: flex;
  justify-content: center;
  height: 650px;
  width: 659px;
  align-self: center;
  /* border: 2px solid black; */
  border-radius: 3%;
}

.outerContainer {
  /* border: 1px solid black; */
  display: flex;
  justify-content: center;
  align-items: center;
  /* align-content: center; */
  height: 100%;
  width: 100%;
  color: rgb(80, 117, 148);
  /* font-weight: bold; */
}

.innerContainer {
  display: flex;
  position: static;
  /* border: 1px solid black; */
  justify-content: center;
  flex-direction: column;
  /* padding: 15%; */
  align-items: center;
}

#spotName {
  /* position: relative; */
  padding-top: 15%;
  /* margin-top: 1px; */
  display: flex;
  left: 20pxpx;
}
#address {
  margin: 1px;

}
#cityState {
  /* margin-top: 10px; */
  margin: 1% 2% 1% 4%;

}
#country {
    margin: 1% 2% 1% 4%;
    /* margin-top: 1px; */

  }
  #description {
    margin: 1% 2% 1% 4%;
    /* margin: 1px; */

  }
  #price {
    /* margin: 1px; */
    margin: 1% 2% 1% 4%;
    font-weight: bold;
  }
  #rating{
    display: flex;
    /* position: relative; */
    font-size: 12px;
    right: -2%;
    padding-bottom: 1%;
  }

  .createReviewButton{
    margin: 1%;
    background-color:  rgb(80,117,148);
    color: white;
    border-radius: 3px;
    width: 15%;
    cursor: pointer;
  }

  .editButton {
    background-color: rgb(80,117,148);
    color: white;
    border-radius: 3px;
    margin: 3px;
    width: 15%;
    cursor: pointer;
  }

  .deleteButton{
    background-color: rgb(142, 24, 24);
    border-radius: 3px;
    color: white;
    margin: 3px;
    width: 15%;
    cursor: pointer;
  }
  .deleteReviewButton{
    /* display: flex; */
    background-color: rgb(142, 24, 24);
    border-radius: 3px;
    color: white;
    margin: 3px;
    cursor: pointer;
    /* width: 15%; */
  }


.review{
  border-bottom: 1px solid lightgray;
  display: flex;
  justify-content: center;
  width: auto;
  /* left: .1px; */
  /* right: .1px; */
}

.userReview{
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  /* border-bottom: 1px solid gray; */
  font-style: italic;
  /* width: 100%; */
  margin-bottom: 3%;
}
