.modal-content{
  /* background-color: white; */
  /* border: 1px solid blue; */
}

.editSpotFormContainer{
  display: flex;
  /* flex-direction: column; */
  /* justify-content: center; */
  align-items: center;
  width: 120%;
  height: 12%;
  border: 3px solid black;
  background-color: white;
  padding-bottom: 3%;
}

.err{
  display: flex;
  align-self: center;
  border: 1px solid red;
  /* background-color: wheat; */
  /* display: flex; */
  /* height: 110%; */
  width: 120%;
  padding-bottom: 3%;
}
.editSpotForm{
  border: 1px solid cyan;
  display: flex;
  /* justify-content: center; */
  flex-direction: column;
  align-self: center;
  /* align-items: sp; */
  /* align-content: space-; */
  /* height: 70%; */
border-radius: 3%;
  width: 115%;
  /* color: white; */
  background-color: white;
  padding-right: 10%;
  padding-bottom: 5%;
  padding-top: 5%;

}

.confirmChangesButton{
  display: flex;
  align-self: center;
  margin-left: 5px;
  cursor: pointer;
  /* width: 5%; */
  /* width: 90%; */
}

.confirmChangesButton:hover {
  background-color: #fa274e;
}

.form{
  display: flex;
  flex-direction: column;
  align-content: space-between;
  /* width: 115%; */
}

.formInfo{
  display: flex;
  /* background-color: white; */
  /* color: black; */
  margin-bottom: 3%;
  margin-left: 3%;
  margin-right: 3%;
}

#input{
  margin-left: 3%;
}
