/* .divContainer{
  display: flex;
  flex-direction: column;
} */

.userDiv{
  display: flex;
  align-items: center;
  flex-direction: column;
  /* justify-content: center;
  align-self: center; */
  /* margin-left: 100px; */
  /* padding-right: 100%; */
  /* width: 100%; */
}

.spotImg{
  height: 340px;
  width: 320px;
}

/* .container */

#heading{
  display: flex;
  align-items: center;
  justify-content: center;
}

.listings-container{
  display: flex;
  flex-direction: column;
  justify-self: center;
  margin: 10px;
}

.userSpots{
  display: flex;
  flex-direction: column;
}

.spot{
  display: flex;
  align-items: center;
  gap: 25px;
  margin-bottom: 50px;
  margin-top: 10px;
}

.listingInfo{
  display: flex;
  flex-direction: column;
  /* margin-left: 20px; */
  /* justify-content: center; */
  /* justify-self: center; */
  /* align-items: center; */
  /* align-content: center; */
  /* align-self: center; */
}

.deleteButto{
  border: 1px solid lightgrey;
  background-color: lightgrey;
  border-radius: 3px;
  color: black;
  margin: 3px;
}

.deleteButton{
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  border-radius: 3px;
  color: black;
  margin: 3px;
  width: 75px;
  height: 25px;
  border-radius: 6px;
  /* border: 1px solid white; */
}

.deleteButton:hover{
  cursor: pointer;
  background-color: rgb(142, 24, 24);
  box-shadow: 2px 2px 30px lightgrey;
  color: white;
}

.userReview{
  display: flex;
}

.review-div{
  display: flex;
  align-items: center;
  gap: 25px;
  /* margin: 16px 0px; */
  margin-top: 50px;
  padding: 0px 0px 0px 40px;
  /* margin-bottom: 50px;
  margin-top: 10px; */
}


.bookingDiv{
  display: flex;
  flex-direction: column;
  padding-bottom: 40px;
}

.bookingInner{
  display: flex;
  align-items: center;
  gap: 25px;
  /* margin: 16px 0px; */
  margin-top: 50px;
  padding: 0px 0px 0px 40px;
}
