.footer{
  display: flex;
  /* position: fixed; */
  border-top: 1px solid;
  /* border: 1px solid; */
  bottom: 1px;
  width: 100%;
  /* background-color: #95ccfa; */
  bottom: .1px;
  left: .1px;
  margin-top: 5%;
  /* height: 15px; */
  /* align-content: ; */

}
.info{
  display: flex;
  position: relative;
  flex-direction: row;
  margin: 5px;
  padding: 5px;
  /* border: 1px solid; */
  font-size: 14px;
}
.siteInfo{
display: flex;
position: relative;
align-items: center;
align-content: space-between;
right: -59%;
}
