/* TODO Add site wide styles */
* {
  font-family: Circular, -apple-system, BlinkMacSystemFont, Roboto, Helvetica Neue, sans-serif;
}

.ProfileButton {
  border: 1px solid;
  display: flex;
  flex-direction: column;
  position: relative;
  /* border-radius: 5px; */
  /* align-content: center; */
  justify-content: center;
  padding: 3px;
  margin: 5px;

}


.signupButton{
  border-radius: 10px;
  background-color:  rgb(80,117,148);
  color: white;
  border-radius: 3px;
}

.submitButton{
  border-radius: 10px;
  background-color:  rgb(80,117,148);
color: white;
margin: 10px;
}

.loginButton{
  background-color:  rgb(80,117,148);
  color: white;
  border-radius: 5px;
}

.login {
  background-color:  rgb(80,117,148);
  color: white;
  border-radius: 5px;
}

.logout {
  background-color: rgb(192, 44, 36);
  color: white;
  border-radius: 3px;
}

.createButton{
  background-color:  rgb(80,117,148);
  color: white;
  border-radius: 3px;
}

/* .editButton {
  background-color: rgb(80,117,148);
  color: white;
  border-radius: 3px;
  margin: 3px;
} */

/* .deleteButton{
  background-color: rgb(142, 24, 24);
  border-radius: 3px;
  color: white;
  margin: 3px;
} */

.cancelButton{
  background-color: rgb(165, 38, 38);
  border-radius: 5px;
  color: white;

}





.logo {
  /* display: flex; */
  object-fit: contain;
  height: 100px;
  max-width: 50px;
}




.app{
  display: flex;
  flex-direction: column;

}







/* .innerContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* grid-row: 2; */
/* } */



.rating{
  font-weight: bold;
  margin: 4px;
  padding: 5px;
}
/* .userReviewNames {
  display: block;
  margin: 15px;
} */
/* .userReview {
  display: block;
  margin: 15px;
  padding-inline-start: 40px;
  font: Roboto,Helvetica Neue,sans-serif ;
} */

/* #starReview {
  font-size: 10px;
} */

/* .spotImg1 {
  height: 500px;
  width: 600px;
  border-radius: 15px;
  /* border: 2px solid black; */
/* } */

/* .login {
  display: flex;
  flex-direction: column;
} */


.signupForm{
  display: flex;
  flex-direction: column;
  height: 350px;
  width: 300px;
  margin: 10px;
  justify-content: start;
  /* align-content: space-between; */
}

#firstName{
  margin: 10px;
}
#lastName{
  margin: 10px;
}
#email{
  margin: 10px;
}
#username{
  margin: 10px;
}
#password{
  margin: 10px;
}
#confirmPassword{
  margin: 10px;
}
#submitButton{
background-color:  rgb(80,117,148);
color: white;
margin: 10px;
}


.review{
  color: rgb(80,117,148);
}




.confirmChangesButton {
  background-color: rgb(80,117,148);
  color: white;
  border-radius: 3px;
}




@media (min-width: 729px){

}
