.navigationContainer{
  /* position: sticky; */
  /* height: 100%; */
  width: auto;
  background-color: white;
  justify-content: center;
  /* border: 1px solid; */
  top: .1px;
  left: 0;
  right: 0;
}

.navigation {
  left: 0;
  right: 0;
  display: flex;
  border-bottom: 1px solid lightgray;
  /* position: sticky; */
  top: 0;
  background-color: white;
  /* border: 1px black solid; */
  /* align-content: space-between; */
  justify-content: space-between;
  align-items: center;
  max-width: auto;
  /* margin: 15px 15px 15px 15px; */
  /* height: ; */
}
.menuDiv{
  display: flex;
  /* justify-content: end; */
  align-items: center;
  /* align-content: end; */
}

.buttonDiv{
  display: flex;
  /* justify-content: start; */
  /* width: 50%; */
  align-self: center;
}

.profileLink{
  display: flex;
  align-self: center;
}

.menu{
  display: flex;
  /* border: 1px solid gray; */
  border: 1px solid lightgrey;
  background-color: white;
  border-radius: 20px;
  /* position: static; */
  justify-content: center;
  /* top: 38%; */
  margin-right:30%;
  /* margin-left: 20%; */
  height: 2rem;
  width: 7rem;
  cursor: pointer;
}

.menu:hover{
  box-shadow: 2px 2px 30px lightgrey;
}

.homeLogo{

  /* border: 1px solid; */
display: flex;
align-content: flex-start;
/* justify-self: start; */
align-self: center;

}

.logoImg {
  position: relative;
  height: 60px;
  max-width: 100px;
  cursor: pointer;
  /* box-shadow: 2px 2px 30px rgba(3, 87, 221, 0.732); */
}


.logout {
  /* background-color: rgb(192, 44, 36); */
  /* color: white; */
  display: flex;
  margin-right: 85px;
  border-radius: 5px;
  border: 1px solid lightgrey;
  margin-top: 4px;
  margin-bottom: 4px;
  background-color: white;
  /* box-shadow: 1px 1px 5px rgba(192, 44, 36, 0.732); */
  width: 70px;
}

.logout:hover {
  background-color: #fa274e;
  box-shadow: 1px 1px 5px rgba(192, 44, 36, 0.732);

}
.logAndsignIn{
position: absolute;
border: 1px solid lightgrey;
flex-direction: column;
justify-content: center;
align-content: center;
height: 7em;
width: 125px;
border-radius: 5px;
background-color: white;
box-shadow: 2px 2px 30px lightgrey;
font-size: small;
justify-content: space-around;
align-content: space-around;
}
#logintext{
  display: flex;
  justify-self: center;
  align-content: center;
  margin-top: 3px;
  margin-bottom: 5px;
  padding-left: 10px;
}
#login{
  border: white;
  background-color: white;
  display: flex;
  justify-content: center;
  /* border-radius: 5px; */
  width: 100%;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 16px;
}
#login:hover{
  box-shadow: 2px 2px 30px lightgrey;
  background-color: rgb(80,117,148);
}
#signup:hover{
  box-shadow: 2px 2px 30px lightgrey;
  background-color: rgb(80,117,148);
}

#signup{
  border: 1px solid lightgrey;
  display: flex;
  margin-top: 3px;
  margin-bottom: 5px;
  margin-left: 16px;
  justify-content: center;
  border-radius: 3px;
  width: 70%;
}

.profile-dropdown{
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 10%;
  height: 75px;
  padding-top: 10px;
  padding-bottom: 10px;
  /* align-items: flex-start; */
  /* align-content: flex-start; */
  margin-top: 150px;
  margin-left: 13%;
  /* padding: 15px; */
  /* cursor: pointer; */
  background-color: white;
  box-shadow: 2px 2px 30px lightgrey;
  border: 1px solid lightgrey;
  /* font-weight: bold; */
  color: gray;
  font-size: small;
  border-radius: 15px;
  gap: 4px;
  /* margin-right: 1px; */
  /* top: 0; */
}

.demoButton{
  border-radius: 3px;
  margin: 3px;
  background-color: white;
  cursor: pointer;
  border: 1px solid lightgrey;
}
.demoButton:hover {
  background-color: rgb(80,117,148);
  box-shadow: 2px 2px 30px lightgrey;
}

.createSpot{
  /* background-color:  rgb(80,117,148);
  border-radius: 3px;
  cursor: pointer; */
  color: black;
  border-radius: 22px;
  border: 2px solid white;
  /* width: 15rem; */
  width: 250px;
  height: 2.5rem;
  background-color: white;
  /* margin-right: 1%; */
  box-sizing: border-box;
}

.createSpot:hover{
  cursor: pointer;
  background-color: lightgray;
}

#hamburglar{
  display: flex;
  align-self: center;
  /* height: 20px; */
  padding-right: 10%;
  /* cursor: pointer; */
}

#user{
  display: flex;
  align-self: center;
  padding-left: 20%;
  /* cursor: pointer; */
}
#user1{
padding-right: 125px;
padding-top: 4px;
}
#user:hover{
  cursor: pointer;
  /* box-shadow: 2px 2px 30px lightgrey; */

}
#user1:hover{
  cursor: pointer;
  /* box-shadow: 2px 2px 30px lightgrey; */

}

#globe{
  margin-left: 4%;
  margin-right: 10%;
}

.tags{
  display: flex;
  justify-content: space-between;
  padding-right: 10px;
  padding-left: 10px;
  margin-top: 20px;
}

.pool{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#pool{
  color: gray;
}

.rooms{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#rooms{
  color: gray;
}

.cabins{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#cabins{
  color: gray;
}

.lakefront{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#lakefront{
  color: gray;
}

.boats{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#boats{
  color: gray;
}

.mansions{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#mansions{
  color: gray;
}

.beachfront{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#beachfront{
  color: gray;
}

.amazingViews{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#amazingViews{
  color: gray;
}

.omg{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#omg{
  color: gray;
}

.tinyHomes{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#tinyHomes{
  color: gray;
}

.trending{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#trending{
  color: gray;
}

.countryside{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#countryside{
  color: gray;
}

@media screen  {

}
