
/* .modal-content{
  display: flex;
  flex-direction: column;
} */
.loginFormContainer{
  display: flex;
  /* justify-content: center; */
  /* flex-direction: column; */
  height: 15%;
  border: 1px solid;
  border-radius: 5px;
  padding: 5px;
}

.loginForm{
  display: flex;
  flex-direction: column;
  width: 350px;
  height: 200px;
  /* justify-content: center; */
}

.headingDiv{
  display: flex;
  justify-content: center;
  border-bottom: 0.5px solid lightgray;
  width: 100%;
}
.heading{
  display: flex;
  align-self: center;
  /* border-bottom: 1px solid lightgray; */
}

.labelDiv{
  display: flex;
  flex-direction: column;
}

.loginButton{
  padding-left: 10px;
  background-color:  white;
  border: 1px solid lightgrey;
  border-radius: 3px;
}
.loginButton:hover {
  background-color: rgb(80,117,148);
  box-shadow: 2px 2px 30px lightgrey;
}

.demoButton{
  background-color:  white;
  border-radius: 20px;
  border: 1px solid lightgrey;
}

.loginDemoButtons{
  display: flex;
}

.emailInput{
  display: flex;
  padding-left: 10px;
  padding-bottom: 10px;
}
.passwordInput{
  display: flex;
  padding-left: 10px;
  padding-bottom: 10px;

}

.login {
  margin-left: 3%;
  background-color:  white;
  border-radius: 20px;
  border: 1px solid lightgrey;
}

.login:hover {
  background-color: rgb(80,117,148);
  box-shadow: 2px 2px 30px lightgrey;
}
